POSTGRES_USER=jobtracker
POSTGRES_PASSWORD=replace_with_a_url_safe_random_password
POSTGRES_DB=jobtracker
SESSION_SECRET=replace_with_a_url_safe_random_session_secret
IMAGE_TAG=v1.0.0
APP_COMMIT_SHA=replace_with_deployed_commit_sha
LOG_LEVEL=info
PROMETHEUS_RETENTION=15d
PROMETHEUS_RETENTION_SIZE=2GB
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=replace_with_a_url_safe_random_password
GRAFANA_ROOT_URL=http://127.0.0.1:3001
GRAFANA_PORT=3001
