POSTGRES_USER=jobtracker
POSTGRES_PASSWORD=replace_with_a_url_safe_random_password
POSTGRES_DB=jobtracker
SESSION_SECRET=replace_with_a_url_safe_random_session_secret
IMAGE_TAG=v1.0.0
APP_COMMIT_SHA=replace_with_deployed_commit_sha
